:root {
    --background-color:#FFFFFF;
    --title-text-color:#2E2F42;
    --primary-text-color:#434455;
    --accent-color:#4D5AE5;
    --secondary-white-color:#F4F4FD;
    --third-white-color:#E5E5E5E5;
    --ocean-color: #404BBF;


}
body {
    color: var(--primary-text-color);
    background-color: var(--background-color);
    font-family: Roboto, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
/* INDEX.HTML */
/* header */
.header-logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.link {
    text-decoration: none;
}
.header-logo-part {
    color: var(--title-text-color);
}
.list {
    list-style: none;
}
.nav-item {
    color: var(--title-text-color);
    font-weight: 500;
}
.nav-item:hover,
.nav-item:focus {
color: var(--ocean-color);
}
.contacts {
    font-style: normal;
}
.contacts-link {
    color: var(--primary-text-color);
}
.contacts-link:hover,
.contacts-link:focus {
    color: var(--ocean-color);
}
/* hero */
.hero {
    background-color: var(--title-text-color);
}

.hero-title {
    color: var(--background-color);
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
}

.hero-btn {
    color: var(--background-color);
    background-color: var(--accent-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size:16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--ocean-color);
}

/* about us */
.info-title {
    color: var(--title-text-color);
    letter-spacing: 0.02em;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
}
/* works section */
.works-title {
    color:var(--title-text-color);
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
}

/* Team */
.team {
    background-color: var(--secondary-white-color);
}
.team-title {
    color: var(--title-text-color);
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 0.02em;
}
.team-list-title {
    color:var(--title-text-color);
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.team-item {
    background-color: var(--background-color);
}
.team-text {
    font-size: 16px;
}

/* Footer */
.footnote {
    background-color: var(--title-text-color);
}

.footnote-text {
    color: var(--background-color);
   
}
.footer-logo-part {
    color:var(--secondary-white-color);
}

.footer-logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.footer-logo:hover,
.footer-logo:focus {
    color:var(--accent-color);
}

.link {
    text-decoration: none;
}
/* PORTFOLIO */
.portfolio {
    background-color: var(--third-white-color);
    color: var(--title-text-color);
    font-family: Roboto, serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.portfolio-btn {
    background-color: var(--secondary-white-color);
    color: var(--accent-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--ocean-color);
    color: var(--background-color);
}
.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.portfolio-text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}